{% load static %}
{% static "images" as url_of_img %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>Book-trip</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/login_signup_page.css' %}" />
    </head>
	<body id="bdy1" class="is-preload homepage" style="background-image: url('{{url_of_img}}/{{obj.imgbd}}');">
        <!--
        <h1> Login and Signup Page </h1>
        -->
        <div id="page-wrapper">
			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="#">Travel India</a></h1>
								<span> <br></span>
							</div>

						<!-- Nav -->
                        <nav id="nav">
                            <ul>
                                <li><a class="navbar_word" href="home_page">Home</a></li>
                                <li id="adjsut_navbar_btn" >
                                    <a class="navbar_word" href="{{obj.log_btn_action}}">{{obj.userid}}</a>
                                    {% if obj.login_status %}
                                    <ul>
                                        <li><a href="#"><h6>Settings</h6></a></li>
                                        <li><a href="log_out"><h6>Log out</h6></a></li>
                                    </ul>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
					</header>
				</div>
        </div>
       
            <!-- Features -->
        <div id="main_div_login_signup" id="features-wrapper" style="background-image: url('{{url_of_img}}/{{obj.imgdiv}}');">
            <div id="for_back_img" class="container">
                <div id="form_l_s1" class="row">
                    <div>
                        <h2>
                            <i>
                                <p id="info_for_no_result">
                                <br><br>
                                    As this website is build only for Learning perpose. 
                                    So here no any trip available.
                                <br><br> <br><br> <br><br> <br><br>
                                </p>
                            </i>
                        </h2>
                    </div>
                </div>
            </div>
        </div>




        <!-- Footer -->
				<div id="footer_div" id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">


							<div class="col-3 col-6-medium col-12-small">

								<!-- About us -->
									<section class="widget contact last">
										<h2>About Us</h2>
										<h5>Created & devloped by : </h5>
										<h5>Siddhiraj R. Kolwankar</h5>
										<h6>visit on :: </h6> <br>
										<ul>
											<li><a href="https://twitter.com/s_raj02?s=08" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="https://instagram.com/s_raj02?igshid=1tah9pso5l6eh" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="https://www.facebook.com/siddhiraj.kolwankar.37" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>

										</ul>
                                        Created & Devloped by <br> Siddhiraj R. Kolwankar <br> 
                                        Design :: <a href="https://html5up.net/">HTML5 Up</a> <br>
                                        Design taken form site HTML5 Up. <br>

									</section>
							</div>

							<div class="col-3 col-6-medium col-12-small">
							</div>
							
						</div>
						<div class="row">
							<div class="col-12">
								<div id="copy_row" id="copyright">
									<ul class="menu">
                                        <br>
										<h4><li>&copy; copyright 2021. All rights reserved. </li></h4>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>


    </body>


<!-- Scripts -->

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
    </script>


</html>