#banner {
    border: 2px solid rgb(196, 238, 224);
    border-radius: 21px;
    background-color: rgb(196, 238, 224);
}

#main_2_btn1 {
    box-shadow: rgb(163, 162, 162);
}

#main_2_btn2 {
    box-shadow: rgb(163, 162, 162);
    background-color: rgb(87, 252, 87);
}


#footer-wrapper {
    margin: 50px 25px 25px 25px;
    border-radius: 20px;
    background-color: rgb(160, 143, 143);
    text-align: center;
    background-size: 100%;
}

