
#footer_div {
    margin: 50px 25px 25px 25px;
    border-radius: 20px;
    background-color: rgb(229, 226, 226);
    text-align: center;
}

#adjsut_navbar_btn, #adjsut_navbar_btn1 {
    margin-right: 100px;
}

#bdy, #bdy1 {
    width: 100% auto;
    height: 100% auto;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

.navbar_word {
    background-color: rgb(219, 219, 219);
    margin-right: 20px;
}

#copy_row {
    text-align: center;
}

#form_l_s1 {
    width: fit-content;
    height: fit-content;
    align-self: center;
}

#description_id {
    font-size: small;
}

#form_l_s {
    margin-left: 10% ;
    margin-right: 10% ;
    width: fit-content;
    height: fit-content;
    align-self: center;
}

#info_for_no_result {
    margin-left: 10%;
}

/* 
#contact {
    border: 2px solid black;
    margin: 3% 2% 2% 2%;
    border-radius: 10%;
    background-color: rgb(245, 180, 60);
} */

.discription_text {
    font-size: 21; 
    color: rgb(44, 43, 43);
    background-color: rgb(255, 245, 227);
}

/* #name_disc_div {
    width: 90%;
    height: 50%;
    text-align: left;
    opacity: 0.8;
    margin-top: 10%;
    margin-left: 1%;
    text-shadow: black;
    background-attachment: fixed;
    background-color: rgb(229, 226, 226);
    background-repeat: no-repeat;
    border: 2px solid gray;
    border-radius: 16px;
} */

#dest_prise_div {
    width: 40%;
    height: 10%;
    text-align: center;
    opacity: 0.9;
    background-attachment: fixed;
    background-color: rgb(255, 62, 62);
    background-repeat: no-repeat;
    border: 2px solid gray;
    border-radius: 16px;
}

#banner {
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: 100%;
}

#main_div_login_signup {
    width: fit-content;
    height: fit-content;
    margin: 1px auto;
    padding: 10px;
    background-position: absolute;
    background-size: cover;
    border-radius: 12px;
    align-self: center;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

::selection{
background: #fa4299;
color: #fff;
}
.wrapper{
overflow: hidden;
max-width: 390px;
background: #fff;
padding: 30px;
border-radius: 5px;
border: 0.5px solid grey;
box-shadow: 0px 25px 20px rgba(0,0,0,0.1);
text-align: center;
}
.wrapper .title-text{
display: flex;
width: 200%;
}
.wrapper .title{
width: 50%;
font-size: 35px;
font-weight: 600;
text-align: center;
transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
position: relative;
display: flex;
height: 50px;
width: 100%;
overflow: hidden;
margin: 30px 0 10px 0;
justify-content: space-between;
border: 1px solid lightgrey;
border-radius: 5px;
}
.slide-controls .slide{
height: 100%;
width: 100%;
color: #fff;
font-size: 18px;
font-weight: 500;
text-align: center;
line-height: 48px;
cursor: pointer;
z-index: 1;
transition: all 0.6s ease;
}
.slide-controls label.signup{
color: #000;
}
.slide-controls .slider-tab{
position: absolute;
height: 100%;
width: 50%;
left: 0;
z-index: 0;
border-radius: 5px;
background: -webkit-linear-gradient(left, #a445b2, #fa4299);
transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
display: none;
}
#signup:checked ~ .slider-tab{
left: 50%;
}
#signup:checked ~ label.signup{
color: #fff;
cursor: default;
user-select: none;
}
#signup:checked ~ label.login{
color: #000;
}
#login:checked ~ label.signup{
color: #000;
}
#login:checked ~ label.login{
cursor: default;
user-select: none;
}
.wrapper .form-container{
width: 100%;
overflow: hidden;
}
.form-container .form-inner{
display: flex;
width: 200%;
}
.form-container .form-inner form{
width: 50%;
transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
height: 50px;
width: 100%;
margin-top: 20px;
}
.form-inner form .field input{
height: 100%;
width: 100%;
outline: none;
padding-left: 15px;
border-radius: 5px;
border: 1px solid lightgrey;
border-bottom-width: 2px;
font-size: 17px;
transition: all 0.3s ease;
}
.form-inner form .field input:focus{
border-color: #fc83bb;
/* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
color: #999;
transition: all 0.3s ease;
}
form .field input:focus::placeholder{
color: #b3b3b3;
}
.form-inner form .pass-link{
margin-top: 5px;
}
.form-inner form .signup-link{
text-align: center;
margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
color: #fa4299;
text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
text-decoration: underline;
}
form .btn{
height: 50px;
width: 100%;
border-radius: 5px;
position: relative;
overflow: hidden;
}
form .btn .btn-layer{
height: 100%;
width: 300%;
position: absolute;
left: -100%;
background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
border-radius: 5px;
transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
left: 0;
}
form .btn input[type="submit"]{
height: 100%;
width: 100%;
z-index: 1;
position: relative;
background: none;
border: none;
color: #fff;
padding-left: 0;
border-radius: 5px;
font-size: 20px;
font-weight: 500;
cursor: pointer;
}


